/arthurs_analysis
/capacity_runtime
/figures
/tortuosity_std
/c2
/args.conf
/useful_python_scripts
/.vscode
/build-Caterpillar-Desktop-Debug
/run.sh
/__pycache__
/GUI/qcustomplot-source
/GUI/New Folder
/GUI/.gitingore
/compiler.sh
/gitingore
build/
build-*/
vcpkg/
build-hpc/
build-cuda/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.o
*.obj
*.exe
output/
test_output/
output_2/
/src/eigen
/src/nlohmann
final.csv
